<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Subasta.SetUp" Language="1033" Version="1.0.0.0" Manufacturer="Miguel Merayo" UpgradeCode="9db211ac-3478-4ace-9232-0890e56d117b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="Ya hay instalada una version mas nueva de Subasta." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Subasta.SetUp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>



		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Subasta.SetUp" />
			</Directory>
		</Directory>

		<DirectoryRef Id="TARGETDIR">
			<Component Id="subasta.exe" Guid="194A7FF6-72B5-4060-9B15-ED796B0DB9B2">
				<File Id="subasta.exe" Source="./../../Publish/subasta.exe" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="subasta.lib.dll" Guid="891709D8-F80A-4762-87F4-45F48EEB3D2B">
				<File Id="subasta.lib.dll" Source="./../../Publish/subasta.lib.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</DirectoryRef>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<ComponentRef Id="subasta.exe" />
			<ComponentRef Id="subasta.lib.dll" />
			<!-- </Component> -->
		</ComponentGroup>
	</Product>
</Wix>